<div class="panel panel-primary">
    <div class="panel-heading">Clustered Data</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th>Frequency</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(description, cluster) in $ctrl.clusteredData">
                <td>{{description}}</td>
                <td>{{cluster.length}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
