<div class="panel panel-primary">
    <div class="panel-heading">Statistics</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Most emitted signal</td>
                <td>Office Supplies</td>
            </tr>
            <tr>
                <td>Least emitted signal</td>
                <td>Medical Attention Needed</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
