<div class="panel panel-primary">
    <div class="panel-heading">Statistics</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th>Start Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Frequency</td>
                <td>22 times</td>
            </tr>
            <tr>
                <td>Average Response Time</td>
                <td>10 mins</td>
            </tr>
            <tr>
                <td>Longest response time</td>
                <td>1 hour</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
